<div class="about">
	<h1 class="display-4">
		About
	</h1>
	<div class="row mt-5">
		<div class="col-md-6">
			<p>
				This app is part of personal learning course of Angular framework.<br>
				Made by <strong>Mateusz Ożóg</strong>
			</p>
			<p class="mb-5">
				<a
					href="https://github.com/Mvtthew/angular-todo-list"
					class="text-light"
				><i class="bx bxl-github"></i> source code</a>
			</p>
			<p>
				<i class="bx bx-heart"></i> Icons thanks to
				<a
					href="https://boxicons.com/"
					class="text-light"
				>Boxicons</a>
				by
				<a
					href="https://github.com/atisawd"
					class="text-light"
				><i class="bx bxl-github"></i> atisawd</a>
			</p>
			<p>
				This app is using
				<a
					href="https://jsonplaceholder.typicode.com/"
					class="text-light"
				>JSONPlaceholder</a>
				by
				<a
					href="https://github.com/typicode"
					class="text-light"
				><i class="bx bxl-github"></i> typicode</a>
			</p>
		</div>
	</div>
</div>