<div class="card mb-3 border-0 shadow">
	<div class="card-body p-0">
		<div class="title p-3 d-flex align-items-center">
			<!-- Todo not done -->
			<button
				class="btn btn-sm btn-outline-danger"
				data-toggle="tooltip"
				data-placement="bottom"
				title="Toggle completed"
				*ngIf="!todo.completed"
				(click)="toggleCompleted()"
			>
				<i class="bx bx-message-square-check"></i>
			</button>
			<!-- Todo done -->
			<button
				class="btn btn-sm btn-danger"
				data-toggle="tooltip"
				data-placement="bottom"
				title="Toggle not completed"
				*ngIf="todo.completed"
				(click)="toggleCompleted()"
			>
				<i class="bx bxs-message-square-check"></i>
			</button>
			<p
				class="w-100 mb-0 d-flex ml-4"
				[ngClass]="{'completed': todo.completed}"
			>
				{{ todo.title }}
			</p>
			<button
				class="btn btn-sm btn-outline-danger"
				(click)="delete()"
			>
				<i class="bx bx-message-square-x"></i>
			</button>
		</div>
	</div>
</div>