// Bootstrap
$body-bg: #252525;
$body-color: #a8a8a4;

$enable-rounded: false;
$enable-shadows: true;

$danger: #af0404;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Boxicons
@import "../node_modules/boxicons/css/boxicons.min.css";
